@import "tailwindcss";

/* =========================
   THEME VARIABLES
========================= */

/*  Dark Theme (Default) */
:root {
  --bg-primary: #101010;
  --bg-secondary: #101010;

  --text-primary: #ffffff;
  --text-secondary: #e5e7eb;
  --text-muted: #9ca3af;
  --text-faded: #6b7280;

  --accent-primary: #10b981;
  --accent-secondary: #34d399;

  --bg-primary-blur: rgba(16, 16, 16, 0.3);
  --bg-secondary-blur: rgba(16, 16, 16, 0.95);

  /* Job section */
  --job-bg: rgba(68, 68, 68, 0.4);
  --job-border: rgba(48, 48, 48, 0.6);
  --job-text-muted: #9ca3af;

  /* Project section */
  --project-bg: #27272b66;
  --project-border: #30303098;
  --project-chip-bg: rgba(39, 39, 43, 0.6);
  --project-hover-border: #52525c;

  --btn-primary-bg: #ffffff;
  --btn-primary-text: #000000;
  --btn-primary-hover: #e4e4e7;

  --btn-outline-text: #d1d5dbcc;
  --btn-outline-border: #3c3c3c;
  --btn-outline-hover-bg: #27272b66;
  --btn-outline-hover-border: #484848;

  /* Expirence card BG*/
  --exp-care-bg: #1b1d22;

  /* About card BG*/
  --abt-card-bg:#1b1d22;
}

/* Light Theme */
[data-theme="light"] {
  --bg-primary: #f6f6f6;
  --bg-secondary: #f9fafb;

  --text-primary: #3f3f46;
  --text-secondary: #374151;
  --text-muted: #6b7280;
  --text-faded: #9ca3af;

  --accent-primary: #059669;
  --accent-secondary: #10b981;

  --bg-primary-blur: rgba(246, 246, 246, 0.5);
  --bg-secondary-blur: rgba(246, 246, 246, 0.95);

  /* Job section */
  --job-bg: rgba(182, 182, 182, 0.4);
  --job-border: rgba(133, 137, 147, 0.6);
  --job-text-muted: #6b7280;

  /* Project section */
  --project-bg: #f4f4f566;
  --project-border: #d1d5dbcc;
  --project-chip-bg: rgba(229, 231, 235, 0.8);
  --project-hover-border: #9f9fa9;

  --btn-primary-bg: #000000;
  --btn-primary-text: #ffffff;
  --btn-primary-hover: #1a1a1a;

  --btn-outline-text: #30303098;
  --btn-outline-border: #cacaca;
  --btn-outline-hover-bg: #b6b6b666;
  --btn-outline-hover-border: #969697;

  /* Expirence card BG*/
  --exp-care-bg: #d5d5d5;

  /* About card BG*/
  --abt-card-bg:#d5d5d5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* =========================
   GLOBAL STYLES
========================= */

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg-primary);
  color: var(--text-primary);
  font-family: var(--font-montserrat), system-ui, sans-serif !important;
}

/* main {
  background: url("/public/assets/bg-noise.png") 0 0 / 200px 200px no-repeat;
} */

/* Hide scrollbar */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* =========================
   TEXT UTILITIES
========================= */

.text-primary {
  color: var(--text-primary);
}

.text-secondary {
  color: var(--text-secondary);
}

.text-muted {
  color: var(--text-muted);
}

.text-faded {
  color: var(--text-faded);
}

.text-accent {
  color: var(--accent-primary);
}

.text-accent-soft {
  color: var(--accent-secondary);
}

.bg-primary {
  background-color: var(--bg-primary)
}

.primary-blur {
  background-color: var(--bg-primary-blur);
}

.secondary-blur {
  background-color: var(--bg-secondary-blur);
}

/* =========================
   FONTS
========================= */

.font-incognito {
  font-family: var(--font-squada), sans-serif;
}

/* =========================
   ANIMATIONS
========================= */

.path {
  stroke-dasharray: 500px 100px;
  animation: animate 100s linear infinite alternate-reverse;
}

@keyframes animate {
  from {
    stroke-dashoffset: 0;
  }

  to {
    stroke-dashoffset: 12433.8193359375;
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}

.fade-left {
  background: linear-gradient(to right, var(--bg-primary) 0%, transparent 100%);
}

.fade-right {
  background: linear-gradient(to left, var(--bg-primary) 0%, transparent 100%);
}